.container_accueil {

  background-image: url("/images/bckg_image/circus-828680_1920.jpg");
  height: 1000px;
}
.text-accueil {
  font-family: "Molle", cursive;
  font-size: 30px;
}

.sticky-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-footer {
  margin-top: auto
}